# Databases and logs
debug_scraping.txt

# Security and binaries
__pycache__/
venv/
news_images/
stitch/
cache.db
.env

# Dagster temporary storage
.tmp_dagster_home_*/
dagster_home/
logs/
*.sqlite
*.db

# Node & Build artifacts
node_modules/
tailwindcss.exe

*.exe
extra/tailwindcss.exe

# Temporary files, local binaries and test scripts
extra/
cache.db-shm
cache.db-wal
*.db-wal
*.db-shm
