# Bases de datos y logs
debug_scraping.txt

# Seguridad y binarios
__pycache__/
venv/
news_images/
stitch/
cache.db
.env

# Dagster temporary storage
.tmp_dagster_home_*/
dagster_home/
logs/
*.sqlite
*.db

# Node & Build artifacts
node_modules/
tailwindcss.exe

*.exe
extra/tailwindcss.exe
